* {
  color: white;
  font-family: "Nunito Sans";
  /* font-size: 4vh; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* @media only screen and (max-width: 400px) {
  * {
    font-size: 4vw;
  }
} */
