::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: #2f3136;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #7289da;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #677bc4;
}

.ChatList {
  height: 300px;
  font-size: 1.2em;
  overflow-y: auto;
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
}

.ChatList li {
  transition: box-shadow 0.2s ease-in-out;
  margin-right: 15px;
  padding: 2px;
}

.ChatList li.active {
  background-color: rgba(0, 0, 0, 0.2);
}

.ChatList li.no-active:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.chatlist-chat {
  margin: 10px;
  border-radius: 3px;
}

.chatlist-chat ul {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}

.chatlist-chat img {
  display: inline;
  margin-right: 10px;
  border-radius: 50%;
}

.chat-delete i:hover {
  opacity: 0.5;
}
