body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20px;
}

#search-field {
    border-style: ridge;
}

#chats {
    width: 200px;
    height: 300px;
    float: left;
}

.chat {
    margin-top: 20px;
}

#messages {
    border-color: blue;
    width: 300px;
    height: 400px;
    float: left;
}