.UserSearch {
  margin: 10px;
  overflow-y: auto;
}

.UserSearch input {
  width: 100%;
  background-color: #f3f3f3;
  border: none;
  border-radius: 6px;
  box-shadow: none;
  color: #333;
  font-size: 1.2em;
  padding: 10px;
}

.UserSearch input:focus {
  outline: none;
}

.UserSearch ul {
  height: 200px;
}

.UserSearch li {
  margin: 5px;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: box-shadow 0.2s ease-in-out;
}

.UserSearch li.active {
  box-shadow: 10px 5px 5px gray;
}

.UserSearch li.no-active {
  box-shadow: 10px 5px 5px black;
}

.UserSearch li.no-active:hover {
  box-shadow: 10px 5px 5px gray;
}

.UserSearch li span {
  padding: 10px;
  font-size: 1.3em;
}
.UserSearch button {
  margin-left: 80px;
  font-size: 1em;
  transition: 300ms;
}

.UserSearch button:hover {
  font-size: 1.1em;
}
