.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* background: rgb(99, 99, 112);
  background: linear-gradient(
    90deg,
    rgba(70, 70, 84, 1) 0%,
    rgba(54, 76, 80, 1) 100%,
    rgba(20, 20, 20, 1) 100%
  ); */

  /* background-color: #0c134f; */

  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;

  grid-row: 1 / 2;
  grid-column: 1 / -1;

  font-size: 1.5em;
}

.navbar-logo {
  display: flex;
  width: 200px;
  height: 80px;
  background-image: url("../../../../public/images/title.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.navbar-links ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.navbar-links li {
  padding: 10px;
  margin-right: 70px;
}

.hidden {
  opacity: 0;
}

.navbar-profile {
  display: flex;
  margin-right: 20px;
  padding: 10px;
  border: 1px solid currentColor;
}

.navbar-profile img {
  display: inline;
  margin-right: 10px;
  border-radius: 50%;
}

.navbar-profile span {
  margin: auto 0;
}

@media only screen and (max-width: 500px) {
  .navbar-links ul {
    flex-direction: column;
  }
}
