* {
    margin: 0;
    padding: 0;
    background-color: blue;
    color: white;
    font-family: cursive;
}

.SignUp {
    position: relative;
    top: 200px;
    width: 600px;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    padding: 50px;
    background-color: purple;
}

.SignUp h1 {
    background-color: purple;
}

.SignUp form {
    background-color: purple;
}

.SignUp input {
    display: block;
    width: 80%;
    height: 2rem;
    border-radius: 5px;
    outline: none;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: whitesmoke;
    color: black;
}

.SignUp input:hover {
    background-color: antiquewhite;
}

.SignUp button {
    width: 50px;
    height: 2rem;
    border-radius: 10px;
    border: 0px;
    background-color: blueviolet;
}


.SignUp button:hover {
    background-color: rgb(151, 46, 175);
}

.SignUp button:focus {
    background-color: rgb(99, 0, 229);
}